# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\noahs\Documents\travail\LP Miar\cours\Méthodologie dev\Garden_Invader\garden_invader\.idea
# Editor-based HTTP Client requests
/httpRequests/
